
*{
  margin: 0 auto;
  padding: 0 auto;
}

body{
  background-image: url(background_theme.jpeg);
}

header{
  color: white;
}

footer{
  color: white;
  display: inline;
  text-align: center;
}

hr{
  color: white;
  box-sizing: border-box;
  margin: 5px;
}


h2{
  color: white;
  line-height: 36px;
  /* display: inline; */
}

h3{
  /* display: inline-block; */
}

#blocco{
  width: 70%;
  margin: auto;
}

#corpo{

}

#logo{
  width: 100px;
}

.casella{
  width: 100%;
  border: solid 2px white;
  background-color: grey;
  padding: 2px;
}

.letto{
  background-color: white;
  width: 100%;
  border: solid 2px grey;
  padding: 2px;

}

#counter{
  background-color: orange;
  border-radius: 50%;
}

.italic{
  font-style: italic;
}

.displayInLine{
  display: inline;
}

.testoChiaro{
  color: #eaeaea;
}
